sudo: required

language: node_js

services:
  - docker

env:
  global:
    - IF_APP_CONTEXT=dev/app
    - IF_APP_IMAGE=capcodigital/ideafunnel

install:
  - scripts/install_hashicorp.sh terraform 0.11.5

script:
  - docker build --tag "${IF_APP_IMAGE}" "${IF_APP_CONTEXT}"

after_success:
  - docker login -u "${DOCKER_USER}" -p "${DOCKER_PASSWORD}"
  - docker tag "${IF_APP_IMAGE}" "${IF_APP_IMAGE}":latest
  - docker push "${IF_APP_IMAGE}":latest
  - ops/deploy/do/deploy.sh
