doctype html
html(lang='en', xmlns='http://www.w3.org/1999/xhtml')
    include includes/new-head

    body.error-body
        div.error-post-it
            div.huge-font-size 404
            div.large-font-size We couldn't find that page
        div.centered
            img(src="/images/ideafunnel_big.png", style="height: 30px;")
