extends new-layout
block content

    div.no-select(ng-controller="LandingController")
        .landing-cover
            svg.svg-graphic-fixed(id="graphic1", xmlns='http://www.w3.org/2000/svg', viewBox='0 0 2579 1757', version='1.1', style="max-width: 600px;top: 100px;")
                title ideafunnel_landing
                description Created with Sketch (http://www.bohemiancoding.com/sketch)
                defs
                    rect#path-1(x='1', y='0', width='1714', height='1180', rx='15.9649123')
                    filter#filter-2(x='-50%', y='-50%', width='200%', height='200%', filterUnits='objectBoundingBox')
                        feoffset(dx='0', dy='0', in='SourceAlpha', result='shadowOffsetInner1')
                        fegaussianblur(stdDeviation='0.5', in='shadowOffsetInner1', result='shadowBlurInner1')
                        fecomposite(in='shadowBlurInner1', in2='SourceAlpha', operator='arithmetic', k2='-1', k3='1', result='shadowInnerInner1')
                        fecolormatrix(values='0 0 0 0 0.293168048   0 0 0 0 0.674519478   0 0 0 0 1  0 0 0 0.7 0', in='shadowInnerInner1', type='matrix', result='shadowMatrixInner1')
                        femerge
                            femergenode(in='SourceGraphic')
                            femergenode(in='shadowMatrixInner1')
                    path#path-3(d='M858.5,58 C863.746705,58 868,53.7467054 868,48.5 C868,43.2532946 863.746705,39 858.5,39 C853.253295,39 849,43.2532946 849,48.5 C849,53.7467054 853.253295,58 858.5,58 Z')
                    path#path-4(d='M0,0 L0,53.5123742 C6.98905747e-06,57.0928594 39.758138,89 59.637207,89 L2168.17342,89 C2185.44895,89 2220,57.5556974 2220,53.5123742 C2220,49.469051 2220,0 2220,0 L0,0 Z')
                    path#path-5(d='M942,0 C942,0 958.422039,39.0000017 980.828956,39 C1003.23587,38.9999985 1232.15036,39 1249.83865,39 C1267.52693,39 1281,0 1281,0 L942,0 Z')
                g#Page-1(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd', sketch:type='MSPage')
                    g#macbook-pro(sketch:type='MSLayerGroup', transform='translate(0.000000, 1.000000)')
                        g#screen(transform='translate(253.000000, 0.000000)')
                            g(opacity='0.997727273')
                                use(stroke='#A4A6AC', stroke-width='2.2842106', fill='#222222', fill-rule='evenodd', sketch:type='MSShapeGroup', xlink:href='#path-1')
                                use(stroke='#CACACC', stroke-width='0.875', fill='none', xlink:href='#path-1')
                            g#camera-lens(filter='url(#filter-2)', stroke-width='0.875', opacity='0.516051136')
                                use(stroke-opacity='0.286075368', stroke='#2E6A6C', fill='#28F9FF', fill-rule='evenodd', sketch:type='MSShapeGroup', xlink:href='#path-3')
                                use(stroke='#092223', fill='none', xlink:href='#path-3')
                                use(stroke='#161616', fill='none', xlink:href='#path-3')
                            circle#lens-shine(opacity='0.361789773', fill='#FFFFFF', sketch:type='MSShapeGroup', cx='858', cy='45', r='2')
                        g#base(transform='translate(0.000000, 1110.000000)')
                            g
                                use(stroke-opacity='0.485523897', stroke='#979797', stroke-width='0.875', fill='#E1E2E4', fill-rule='evenodd', sketch:type='MSShapeGroup', xlink:href='#path-4')
                                use(stroke='none', fill='none', xlink:href='#path-4')
                                use(stroke='none', fill='none', xlink:href='#path-4')
                            path#base-shadow(d='M1107.34232,54 L0,54 C0,54 29.3440387,93 58.317715,93 C103.078459,93 2129.74125,93 2163.40597,93 C2200.85123,93 2219,54 2219,54 L1107.34232,54 Z', stroke='#A5A6A7', stroke-width='0.875', fill='#919296', sketch:type='MSShapeGroup')
                            g#base-finger
                                use(stroke='#E9E9E9', stroke-width='0.875', fill='#BBBCC0', fill-rule='evenodd', sketch:type='MSShapeGroup', xlink:href='#path-5')
                                use(stroke='none', fill='none', xlink:href='#path-5')
                                use(stroke='none', fill='none', xlink:href='#path-5')
                            path#base-light-line(d='M2.012732,53 L2217.79246,53', stroke='#FFFFFF', stroke-width='0.875', stroke-linecap='square', stroke-linejoin='round', opacity='0.254545455', sketch:type='MSShapeGroup')
                    rect#Rectangle-17(fill='#4A4A4A', sketch:type='MSShapeGroup', x='343', y='92', width='1545', height='961', rx='7')
                    text#TEAM-IDEAS(fill='#FFFFFF', sketch:type='MSTextLayer', font-family='Bariol', font-size='90', font-weight='bold', sketch:alignment='middle', letter-spacing='0.899999976')
                        tspan(x='898', y='358', fill='#ffffff') TEAM IDEAS
                    g#ideafunnel123(sketch:type='MSLayerGroup', transform='translate(924.000000, 178.000000)')
                        text#ideafunnel(fill='#FFFFFF', sketch:type='MSTextLayer', font-family='archive', font-size='58.8461538', font-weight='normal')
                            tspan(x='48.4902144', y='56') ideafunnel
                        path#Rectangle-4(d='M0.478498634,15.2 C0.478498634,15.2 -0.598123312,20.0811308 0.478498663,22.5216962 C5.69542044,34.3477977 16.1292662,58 16.1292662,58 L27.2639988,58 L41.2374317,22.7038866 C42.2276735,20.2025911 41.2374333,15.2 41.2374333,15.2 L0.478498634,15.2 Z', fill='#FDA209', sketch:type='MSShapeGroup')
                        path#light-bulb-2-icon(d='M25.4756383,45.6 L17.8048836,45.6 C17.2671624,45.6 16.8313141,45.8685907 16.8313141,46.200027 C16.8313141,46.5314093 17.2671624,46.8 17.8048836,46.8 L25.4757258,46.8 C26.0133595,46.8 26.4492078,46.5314093 26.4492078,46.200027 C26.4492078,45.8686446 26.0133595,45.6 25.4756383,45.6 L25.4756383,45.6 Z M25.4389253,48.4 L17.8415966,48.4 C17.2836387,48.4 16.8313141,48.6686446 16.8313141,49.000027 C16.8313141,49.3314093 17.2836387,49.6 17.8415966,49.6 L25.4390161,49.6 C25.9968832,49.6 26.4492078,49.3314093 26.4492078,49.000027 C26.4492078,48.6686446 25.9968832,48.4 25.4389253,48.4 L25.4389253,48.4 Z M18.0335508,52.8 C19.8218789,53.7992762 20.0060298,54 20.7198416,54 L22.0947799,54 C22.7925715,54 22.9645007,53.8139523 24.8462255,52.8 L18.0335508,52.8 L18.0335508,52.8 Z M33.2618826,28.7453619 C33.2618826,35.4082466 27.6248862,39.1421515 27.6248862,44.4 L25.0579627,44.4 C25.0601386,37.9197232 30.6483954,34.5063551 30.6483954,28.7453619 C30.6483954,17.961327 13.8342762,17.9444287 13.8342762,28.7453619 C13.8342762,34.5011352 19.325663,37.7674615 19.4530823,44.4 L16.8578724,44.4 C16.8578724,39.142063 11.220876,35.4081581 11.220876,28.7453619 C11.2209631,14.4255126 33.2618826,14.4109146 33.2618826,28.7453619 L33.2618826,28.7453619 Z', fill='#FFFFFF', sketch:type='MSShapeGroup')
                    g#iPhone-White(sketch:type='MSLayerGroup', transform='translate(1675.000000, 163.000000)')
                        rect#Volume-Down(fill='#D6D6D6', sketch:type='MSShapeGroup', x='1', y='509', width='18', height='55', rx='4')
                        rect#Volume-Up(fill='#D6D6D6', sketch:type='MSShapeGroup', x='1', y='377', width='18', height='55', rx='4')
                        rect#Silent(fill='#D6D6D6', sketch:type='MSShapeGroup', x='0', y='227', width='21', height='70', rx='4')
                        rect#On/Off(fill='#D6D6D6', sketch:type='MSShapeGroup', x='511', y='0', width='124', height='15', rx='3')
                        rect#Frame(fill='#F8F8F8', sketch:type='MSShapeGroup', x='9', y='8', width='749', height='1586', rx='114')
                        rect#BG-screen(fill='#161616', sketch:type='MSShapeGroup', x='53', y='224', width='658', height='1154', rx='10')
                        circle#Home-Button(fill='#D6D6D6', sketch:type='MSShapeGroup', cx='384', cy='1480', r='68')
                        rect#Inner-Button(stroke='#FFFFFF', stroke-width='6', sketch:type='MSShapeGroup', x='357', y='1453', width='53', height='53', rx='12')
                        rect#Speaker(fill='#444444', sketch:type='MSShapeGroup', x='315', y='129', width='138', height='32', rx='16')
                        circle#Front-Camer(fill='#444444', sketch:type='MSShapeGroup', cx='383', cy='85', r='15')
                    rect#Rectangle-17(fill='#E1DFE1', sketch:type='MSShapeGroup', x='1727', y='386', width='661', height='1158', rx='7')
                    g#ideafunnel456(sketch:type='MSLayerGroup', transform='translate(1922.000000, 1045.000000)')
                        text#ideafunnel(fill='#5B5B5C', sketch:type='MSTextLayer', font-family='archive', font-size='40.32', font-weight='normal')
                            tspan(x='32.8880136', y='38') ideafunnel
                        path#Rectangle-4(d='M0.225396647,10.752 C0.225396647,10.752 -0.520919507,14.0857667 0.225396667,15.75265 C3.84177566,23.8297669 11.0745352,39.984 11.0745352,39.984 L18.7931506,39.984 L28.479558,15.8770845 C29.1659953,14.168723 28.4795591,10.752 28.4795591,10.752 L0.225396647,10.752 Z', fill='#FDA209', sketch:type='MSShapeGroup')
                        path#light-bulb-2-icon(d='M17.442562,30.912 L12.0895319,30.912 C11.7142835,30.912 11.4101272,31.2128216 11.4101272,31.5840302 C11.4101272,31.9551784 11.7142835,32.256 12.0895319,32.256 L17.442623,32.256 C17.8178103,32.256 18.1219667,31.9551784 18.1219667,31.5840302 C18.1219667,31.212882 17.8178103,30.912 17.442562,30.912 L17.442562,30.912 Z M16.8162603,33.6 L12.0446496,33.6 C11.6942161,33.6 11.4101272,33.900882 11.4101272,34.2720302 C11.4101272,34.6431784 11.6942161,34.944 12.0446496,34.944 L16.8163174,34.944 C17.1666938,34.944 17.4507827,34.6431784 17.4507827,34.2720302 C17.4507827,33.900882 17.1666938,33.6 16.8162603,33.6 L16.8162603,33.6 Z M12.0813111,35.616 C13.3146123,36.7351893 13.44161,36.96 13.9338826,36.96 L14.882094,36.96 C15.3633184,36.96 15.4818875,36.7516266 16.7795988,35.616 L12.0813111,35.616 L12.0813111,35.616 Z M22.1490704,19.8794759 C22.1490704,24.2890941 18.3726479,26.7602603 18.3726479,30.24 L16.6529754,30.24 C16.6544331,25.951235 20.3982032,23.6922059 20.3982032,19.8794759 C20.3982032,12.7424055 9.13383234,12.7312219 9.13383234,19.8794759 C9.13383234,23.6887513 12.8127058,25.8504655 12.8980685,30.24 L11.159446,30.24 C11.159446,26.7602017 7.38302346,24.2890355 7.38302346,19.8794759 C7.38308177,10.4023393 22.1490704,10.392678 22.1490704,19.8794759 L22.1490704,19.8794759 Z', fill='#FFFFFF', sketch:type='MSShapeGroup')
                    g#postit_iphone(sketch:type='MSLayerGroup', transform='translate(1812.000000, 605.000000)')
                        rect#postitblock(fill='#FFF684', sketch:type='MSShapeGroup', x='0', y='0', width='518', height='393', rx='28')
                        text#Here-is-my-new-idea(sketch:type='MSTextLayer', font-family='Reenie Beanie', font-size='90', font-weight='normal', sketch:alignment='middle', letter-spacing='0.899999976', fill='#000000')
                            tspan(x='96.7300001', y='139', id="iphone_line1")
                            tspan(x='127.015', y='248', id="iphone_line2")
                    g#hand(sketch:type='MSLayerGroup', transform='translate(2359.500000, 1201.500000) rotate(-21.000000) translate(-2359.500000, -1201.500000) translate(2186.000000, 908.000000)', style="display: none;")
                        g#Group(sketch:type='MSShapeGroup')
                            g#Shape
                                g
                                    path(d='M29.4467246,253.266839 L3.86343367,324.776633 C3.86343367,324.776633 -3.49449875,334.919616 2.0980948,365.482861 C10.9106664,413.667329 14.2436262,433.981567 27.0246796,455.122794 C59.2809515,508.452971 96,548 96,548 L85.3867827,389.090917 C85.3867827,389.090917 61.7665486,320.846669 68.0652777,300.631387 C83.3601737,251.591657 34.4885324,242 34.4885324,242 L29.4467246,253.266839 L29.4467246,253.266839 Z', fill='#FBC096')
                                    path(d='M16,291 L31.2310991,243 C31.2310991,243 42.0804573,249.992522 42.9554056,258.183966 C43.9213485,267.222555 29.0122303,290.856416 16,291 L16,291 Z', fill='#FDD7B3')
                                    g(transform='translate(50.000000, 0.000000)')
                                        g(transform='translate(212.000000, 198.000000)')
                                            path(d='M83.9933584,151.495666 C84.3628914,172.832688 69.2759975,240.627763 47.7435959,240.994185 L47.7435959,240.994185 C26.2254071,241.360607 8.47361194,224.364273 8.09697257,203.020205 L4.01079075,38.6588982 C3.62704498,17.3148297 13.4694134,0.360775896 34.9947086,0.00844726423 L34.9947086,0.00844726423 C56.5271102,-0.365021086 64.6639418,11.6352921 69.0414861,37.9965204 L83.9933584,151.495666 L83.9933584,151.495666 Z', fill='#FBC096')
                                            path(d='M12.8280735,147.297957 L18,5 C7.61375412,12.2951602 3.79839849,23.2308453 4.01036269,35.4294257 L3,169 C4.76636835,164.73861 12.686764,152.215487 12.8280735,147.297957 L12.8280735,147.297957 Z', fill='#EDAC80')
                                        path(d='M2,342 L2,426.683446 C4.84472495,527.57022 69.650673,594.386825 150.4352,592.978148 C231.219728,591.590707 298,513.518842 298,405.602839 L296.011523,347.139194 L2,342 L2,342 Z', fill='#FBC096')
                                        g(transform='translate(149.000000, 170.000000)')
                                            path(d='M79.9936902,271.574813 C80.3771417,292.959111 63.2354403,310.61211 41.7195517,310.993721 L41.7195517,310.993721 C20.210764,311.375331 2.46548157,294.315947 2.10333295,272.896315 L-1.99391713,38.4463902 C-2.37026766,17.0267579 14.7643328,-0.619174762 36.2802214,-0.993717986 L36.2802214,-0.993717986 C57.7819081,-1.37532806 75.5200896,15.6769889 75.8964401,37.0966212 L79.9936902,271.574813 L79.9936902,271.574813 Z', fill='#FBC096')
                                            path(d='M0.0107015458,159.134163 L15,6 C6.18906064,13.2769048 -2.20095125,24.036227 -1.97978597,36.3062516 L-3,173 C-1.19500595,168.709038 -0.117717004,164.056358 0.0107015458,159.134163 L0.0107015458,159.134163 Z', fill='#EDAC80')
                                        g(transform='translate(78.000000, 141.000000)')
                                            path(d='M76.521519,269.20085 C80.1106546,290.973872 63.0215554,308.612775 41.5716918,308.994386 L41.5716918,308.994386 C20.1289073,309.354796 2.43807923,292.316577 2.07704192,270.903965 L-1.99347675,36.4394057 C-2.38283071,15.0338613 14.7062685,-2.63330972 36.149053,-2.99372001 L36.149053,-2.99372001 C57.5918374,-3.3753309 75.2968239,13.6840894 72.436842,34.7221566', fill='#FBC096')
                                            path(d='M-0.0133779264,157.115996 L16,3 C6.50353029,8.88738586 -2.11742847,21.8197497 -1.89855072,34.1342577 L-3,171 C-1.22073579,166.717619 -0.140468227,162.04464 -0.0133779264,157.115996 L-0.0133779264,157.115996 Z', fill='#EDAC80')
                                        path(d='M79.9939511,392.583514 C80.368047,413.983676 63.3431557,431.626451 41.949107,431.993714 L41.949107,431.993714 C20.5762335,432.375103 2.9302019,415.318538 2.68315745,403.276532 L-1.98951172,50.7741835 C-2.4836006,20.0299894 14.5412907,2.36602682 35.9353394,2.00582607 L35.9353394,2.00582607 C57.3223297,1.63856255 74.9471861,18.6810023 75.3142235,40.0811649 L79.9939511,392.583514 L79.9939511,392.583514 Z', fill='#FBC096')
                                        path(d='M64,53.9962985 L63.6332685,34.5473023 C63.38159,20.7466457 51.1643973,9.75936586 36.3657025,10.0040073 C21.5454353,10.2342581 9.74530979,21.6172815 10.0041791,35.4323287 L10.356529,54.8669343 C10.356529,54.8669343 18.0291273,59.4215827 35.8479639,58.9682765 C57.9597164,58.3998449 58.5205999,56.4714945 64,53.9962985 L64,53.9962985 Z', fill='#FDD7B3')
                                        g(transform='translate(14.000000, 212.000000)', fill='#FDD7B3')
                                            path(d='M54.999514,4.72327056 C55.0281073,6.26327056 53.7914465,7.50227056 52.2188142,7.54427056 L2.88104964,8.37727056 C1.30841733,8.39827056 0.0145698445,7.18727056 0.000273187178,5.64727056 L0.000273187178,5.64727056 C-0.0211717988,4.11427056 1.22263739,2.85427056 2.78097304,2.83327056 L52.1330342,2.00027056 C53.6842215,1.97927056 54.978069,3.18327056 54.999514,4.72327056 L54.999514,4.72327056 L54.999514,4.72327056 Z')
                                            path(d='M42.9996816,18.4290339 C43.021563,19.7800339 41.9129064,20.8930339 40.4906168,20.9140339 L15.6041946,21.3270339 C14.1891987,21.3550339 13.0221918,20.2700339 13.0003104,18.9330339 L13.0003104,18.9330339 C12.978429,17.5610339 14.1162608,16.4620339 15.5093752,16.4200339 L40.4030913,16.0000339 C41.8253809,15.9930339 42.985094,17.0710339 42.9996816,18.4290339 L42.9996816,18.4290339 L42.9996816,18.4290339 Z')
                                    path(d='M52.1203998,249 L55,426 L42.571875,355.574844 C42.571875,355.574844 37.5146667,331.763757 41.5833555,314.76091 C44.7279935,301.612987 52.1203998,249 52.1203998,249 L52.1203998,249 Z', fill='#EDAC80')
                                    path(d='M17.9991852,335.422302 C18.0335959,336.773302 16.9737461,337.886302 15.6386105,337.907302 L3.46410153,338.327302 C2.12208386,338.348302 1.0278233,337.263302 1.00029473,335.926302 L1.00029473,335.926302 C0.979648306,334.561302 2.0463803,333.455302 3.36775154,333.413302 L15.5491427,333.000302 C16.8911604,332.979302 17.9923031,334.057302 17.9991852,335.422302 L17.9991852,335.422302 L17.9991852,335.422302 Z', fill='#FDD7B3')
                                    path(d='M12.9994421,344.436 C13.0285485,345.78 11.9152271,346.9 10.5035647,346.921 L3.60533813,347.334 C2.18639911,347.362 1.02941807,346.27 1.00031163,344.94 L1.00031163,344.94 C0.978481794,343.568 2.1063564,342.469 3.50346558,342.434 L10.4089688,342 C11.8279078,342 12.9921655,343.078 12.9994421,344.436 L12.9994421,344.436 L12.9994421,344.436 Z', fill='#FDD7B3')
                                    path(d='M112.844127,340.281829 C115.239434,348.799225 111.279285,357.420577 102.885414,360.490721 C97.799676,362.348054 99.9959463,370.602097 105.136591,368.723973 C117.799462,364.094501 124.724577,351.245638 120.990917,338.015605 C119.508435,332.72775 111.347918,334.973183 112.844127,340.281829 L112.844127,340.281829 L112.844127,340.281829 Z', fill='#F5B88E')
                                    path(d='M189.531488,328.360613 C194.689157,343.16023 188.352592,357.709611 174.268997,363.979787 C169.167466,366.253351 173.567273,373.839048 178.626701,371.586933 C196.015415,363.843945 204.204531,344.168319 197.867966,326.008403 C196.008398,320.70342 187.650869,322.998433 189.531488,328.360613 L189.531488,328.360613 L189.531488,328.360613 Z', fill='#F5B88E')
                                    path(d='M257.576713,338.413553 C260.474956,349.013903 255.336525,359.621339 244.961653,363.320124 C239.746214,365.169517 241.993403,373.601613 247.250845,371.730963 C262.022086,366.487475 270.100765,351.501017 265.886411,336.096498 C264.402286,330.668779 256.078587,332.971662 257.576713,338.413553 L257.576713,338.413553 L257.576713,338.413553 Z', fill='#F5B88E')
                                    path(d='M326.151366,341.25386 C328.782049,348.839085 325.814466,357.150705 317.922417,360.356615 C312.747068,362.458966 315.019347,370.784554 320.266377,368.654265 C332.409094,363.709201 338.996554,351.42337 334.667038,338.969911 C332.860683,333.745464 324.330675,335.987506 326.151366,341.25386 L326.151366,341.25386 L326.151366,341.25386 Z', fill='#F5B88E')
                    g#postit_mac(sketch:type='MSLayerGroup', transform='translate(882.000000, 446.000000)')
                        rect#Rectangle-19(fill='#FFF684', sketch:type='MSShapeGroup', x='0', y='0', width='518', height='393', rx='28')
                        text#Here-is-my-new-idea(sketch:type='MSTextLayer', font-family='Reenie Beanie', font-size='90', font-weight='normal', sketch:alignment='middle', letter-spacing='0.899999976', fill='#000000')
                            tspan(x='96.7300001', y='139') Here is my
                            tspan(x='127.015', y='248') new idea




            svg.svg-graphic-fixed(id="graphic2", viewbox='0 0 2318 1372', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', xmlns:sketch='http://www.bohemiancoding.com/sketch/ns', style="margin-top: -30px; display: none; top: 100px;")
                title qualifying
                description Created with Sketch.
                defs
                    rect#path-1(x='1', y='0', width='1714', height='1180', rx='15.9649123')
                    filter#filter-2(x='-50%', y='-50%', width='200%', height='200%', filterunits='objectBoundingBox')
                        feoffset(dx='0', dy='0', in='SourceAlpha', result='shadowOffsetInner1')
                        fegaussianblur(stddeviation='0.5', in='shadowOffsetInner1', result='shadowBlurInner1')
                        fecomposite(in='shadowBlurInner1', in2='SourceAlpha', operator='arithmetic', k2='-1', k3='1', result='shadowInnerInner1')
                        fecolormatrix(values='0 0 0 0 0.293168048   0 0 0 0 0.674519478   0 0 0 0 1  0 0 0 0.35 0', in='shadowInnerInner1', type='matrix', result='shadowMatrixInner1')
                        femerge
                            femergenode(in='SourceGraphic')
                            femergenode(in='shadowMatrixInner1')
                    path#path-3(d='M858.5,58 C863.746705,58 868,53.7467054 868,48.5 C868,43.2532946 863.746705,39 858.5,39 C853.253295,39 849,43.2532946 849,48.5 C849,53.7467054 853.253295,58 858.5,58 Z')
                    path#path-4(d='M0,0 C0,0 -3.90390702e-06,49.931889 0,53.5123742 C6.98905747e-06,57.0928594 39.758138,89 59.637207,89 L2168.17342,89 C2185.44895,89 2220,57.5556974 2220,53.5123742 C2220,49.469051 2220,0 2220,0 L0,0 Z')
                    path#path-5(d='M942,0 C942,0 958.422039,39.0000017 980.828956,39 C1003.23587,38.9999985 1232.15036,39 1249.83865,39 C1267.52693,39 1281,0 1281,0 L942,0 Z')
                g#Page-1(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd', sketch:type='MSPage')
                    g#Slices(sketch:type='MSLayerGroup', transform='translate(0.000000, -2763.000000)')
                    g#macbook-pro-2(sketch:type='MSLayerGroup', transform='translate(59.000000, 117.000000)')
                        g#screen(transform='translate(253.000000, 0.000000)')
                            g(opacity='0.997727273')
                                use(stroke='#A4A6AC', stroke-width='2.2842106', fill='#222222', fill-rule='evenodd', sketch:type='MSShapeGroup', xlink:href='#path-1')
                                use(stroke='#CACACC', stroke-width='0.875', fill='none', xlink:href='#path-1')
                            g#camera-lens(filter='url(#filter-2)', stroke-width='0.875', opacity='0.516051136')
                                use(stroke-opacity='0.286075368', stroke='#2E6A6C', fill='#28F9FF', fill-rule='evenodd', sketch:type='MSShapeGroup', xlink:href='#path-3')
                                use(stroke='#092223', fill='none', xlink:href='#path-3')
                                use(stroke='#161616', fill='none', xlink:href='#path-3')
                            circle#lens-shine(opacity='0.361789773', fill='#FFFFFF', sketch:type='MSShapeGroup', cx='858', cy='45', r='2')
                        g#base(transform='translate(0.000000, 1110.000000)')
                            g
                                use(stroke-opacity='0.485523897', stroke='#979797', stroke-width='0.875', fill='#E1E2E4', fill-rule='evenodd', sketch:type='MSShapeGroup', xlink:href='#path-4')
                                use(stroke='none', fill='none', xlink:href='#path-4')
                                use(stroke='none', fill='none', xlink:href='#path-4')
                            path#base-shadow(d='M1107.34232,54 C737.419686,54.000001 0,54 0,54 C0,54 29.3440387,93 58.317715,93 C103.078459,93 2129.74125,93 2163.40597,93 C2200.85123,93 2219,54 2219,54 L1107.34232,54 Z', stroke='#A5A6A7', stroke-width='0.875', fill='#919296', sketch:type='MSShapeGroup')
                            g#base-finger
                                use(stroke='#E9E9E9', stroke-width='0.875', fill='#BBBCC0', fill-rule='evenodd', sketch:type='MSShapeGroup', xlink:href='#path-5')
                                use(stroke='none', fill='none', xlink:href='#path-5')
                                use(stroke='none', fill='none', xlink:href='#path-5')
                            path#base-light-line(d='M2.012732,53 L2217.79246,53', stroke='#FFFFFF', stroke-width='0.875', stroke-linecap='square', stroke-linejoin='round', opacity='0.254545455', sketch:type='MSShapeGroup')
                    rect#Rectangle-20(fill='#FFFFFF', sketch:type='MSShapeGroup', x='403', y='206', width='1545', height='961', rx='7')
                    rect#Rectangle-21(fill='#FFFFFF', sketch:type='MSShapeGroup', x='401', y='206', width='518', height='961', rx='7')
                    rect#Rectangle-25(fill='#FFC460', sketch:type='MSShapeGroup', x='401', y='307', width='525', height='27')
                    rect#Rectangle-26(fill='#FFA000', sketch:type='MSShapeGroup', x='918', y='307', width='1031', height='28')
                    rect#Rectangle-22(fill='#4A4A4A', sketch:type='MSShapeGroup', x='400', y='197', width='1548', height='113')
                    g#postit_mac2(sketch:type='MSLayerGroup', transform='translate(1068.000000, 431.000000)')
                        rect#Rectangle-19(fill='#FFF684', sketch:type='MSShapeGroup', x='0', y='0', width='710', height='539', rx='28')
                        text#Here-is-my-new-idea(sketch:type='MSTextLayer', font-family='Reenie Beanie', font-size='123.027523', font-weight='normal', sketch:alignment='middle', letter-spacing='0.899999976', fill='#000000')
                            tspan(x='134.99789', y='190') Here is my
                            tspan(x='175.901239', y='338') new idea
                    text#Qualify(sketch:type='MSTextLayer', font-family='Bariol', font-size='80', font-weight='260', fill='#000000')
                        tspan(x='435', y='432') Qualify
                    g#ideafunnel(sketch:type='MSLayerGroup', transform='translate(436.000000, 212.000000)')
                        text#ideafunnel(fill='#FFFFFF', sketch:type='MSTextLayer', font-family='archive', font-size='58.8461538', font-weight='normal')
                            tspan(x='48.4902144', y='56') ideafunnel
                        path#Rectangle-4(d='M0.478498634,15.2 C0.478498634,15.2 -0.598123312,20.0811308 0.478498663,22.5216962 C5.69542044,34.3477977 16.1292662,58 16.1292662,58 L27.2639988,58 L41.2374317,22.7038866 C42.2276735,20.2025911 41.2374333,15.2 41.2374333,15.2 L0.478498634,15.2 Z', fill='#FDA209', sketch:type='MSShapeGroup')
                        path#light-bulb-2-icon(d='M25.4756383,45.6 L17.8048836,45.6 C17.2671624,45.6 16.8313141,45.8685907 16.8313141,46.200027 C16.8313141,46.5314093 17.2671624,46.8 17.8048836,46.8 L25.4757258,46.8 C26.0133595,46.8 26.4492078,46.5314093 26.4492078,46.200027 C26.4492078,45.8686446 26.0133595,45.6 25.4756383,45.6 L25.4756383,45.6 Z M25.4389253,48.4 L17.8415966,48.4 C17.2836387,48.4 16.8313141,48.6686446 16.8313141,49.000027 C16.8313141,49.3314093 17.2836387,49.6 17.8415966,49.6 L25.4390161,49.6 C25.9968832,49.6 26.4492078,49.3314093 26.4492078,49.000027 C26.4492078,48.6686446 25.9968832,48.4 25.4389253,48.4 L25.4389253,48.4 Z M18.0335508,52.8 C19.8218789,53.7992762 20.0060298,54 20.7198416,54 L22.0947799,54 C22.7925715,54 22.9645007,53.8139523 24.8462255,52.8 L18.0335508,52.8 L18.0335508,52.8 Z M33.2618826,28.7453619 C33.2618826,35.4082466 27.6248862,39.1421515 27.6248862,44.4 L25.0579627,44.4 C25.0601386,37.9197232 30.6483954,34.5063551 30.6483954,28.7453619 C30.6483954,17.961327 13.8342762,17.9444287 13.8342762,28.7453619 C13.8342762,34.5011352 19.325663,37.7674615 19.4530823,44.4 L16.8578724,44.4 C16.8578724,39.142063 11.220876,35.4081581 11.220876,28.7453619 C11.2209631,14.4255126 33.2618826,14.4109146 33.2618826,28.7453619 L33.2618826,28.7453619 Z', fill='#FFFFFF', sketch:type='MSShapeGroup')
                    text#Cost-2(sketch:type='MSTextLayer', font-family='Bariol', font-size='50', font-weight='normal', fill='#000000')
                        tspan(x='438', y='507') Cost
                    rect#Rectangle-29(stroke='#D6D6D6', sketch:type='MSShapeGroup', x='772', y='531', width='88', height='75', rx='1')
                    rect#Rectangle-30(stroke='#D6D6D6', sketch:type='MSShapeGroup', x='438', y='531', width='334', height='75', rx='1')
                    rect#medium_selector(fill='#F2F2F2', sketch:type='MSShapeGroup', x='438', y='698', width='290', height='75', rx='1', style="display: none;")
                    g#cost_dropdown(sketch:type='MSLayerGroup', transform='translate(438.000000, 606.000000)', style="display: none;")
                        text#High(sketch:type='MSTextLayer', font-family='Bariol', font-size='50', font-weight='normal', fill='#000000')
                            tspan(x='25', y='71') High
                        text#Low(sketch:type='MSTextLayer', font-family='Bariol', font-size='50', font-weight='normal', fill='#000000')
                            tspan(x='24', y='213') Low
                        text#Medium(sketch:type='MSTextLayer', font-family='Bariol', font-size='50', font-weight='normal', fill='#000000')
                            tspan(x='25', y='143') Medium
                        rect#Rectangle-31(stroke='#D6D6D6', sketch:type='MSShapeGroup', x='0', y='0', width='290', height='253', rx='1')
                    path#Triangle-1(d='M801,554 L828,554 L814.5,581 L801,554 Z', fill='#D8D8D8', sketch:type='MSShapeGroup')
                    text#medium_is_selected(sketch:type='MSTextLayer', font-family='Bariol', font-size='50', font-weight='normal', fill='#000000', style="display:none;")
                        tspan(x='461', y='583') Medium
                    g#hand_2(sketch:type='MSLayerGroup', transform='translate(710.842803, 815.500000) rotate(-21.000000) translate(-710.842803, -815.500000) translate(537.342803, 522.000000)', style='display: none;')
                        g#Group(sketch:type='MSShapeGroup')
                            g#Shape
                                g
                                    path(d='M29.4467246,253.266839 L3.86343367,324.776633 C3.86343367,324.776633 -3.49449875,334.919616 2.0980948,365.482861 C10.9106664,413.667329 14.2436262,433.981567 27.0246796,455.122794 C59.2809515,508.452971 96,548 96,548 L85.3867827,389.090917 C85.3867827,389.090917 61.7665486,320.846669 68.0652777,300.631387 C83.3601737,251.591657 34.4885324,242 34.4885324,242 L29.4467246,253.266839 L29.4467246,253.266839 Z', fill='#FBC096')
                                    path(d='M16,291 L31.2310991,243 C31.2310991,243 42.0804573,249.992522 42.9554056,258.183966 C43.9213485,267.222555 29.0122303,290.856416 16,291 L16,291 Z', fill='#FDD7B3')
                                    g(transform='translate(50.000000, 0.000000)')
                                        g(transform='translate(212.000000, 198.000000)')
                                            path(d='M83.9933584,151.495666 C84.3628914,172.832688 69.2759975,240.627763 47.7435959,240.994185 L47.7435959,240.994185 C26.2254071,241.360607 8.47361194,224.364273 8.09697257,203.020205 L4.01079075,38.6588982 C3.62704498,17.3148297 13.4694134,0.360775896 34.9947086,0.00844726423 L34.9947086,0.00844726423 C56.5271102,-0.365021086 64.6639418,11.6352921 69.0414861,37.9965204 L83.9933584,151.495666 L83.9933584,151.495666 Z', fill='#FBC096')
                                            path(d='M12.8280735,147.297957 L18,5 C7.61375412,12.2951602 3.79839849,23.2308453 4.01036269,35.4294257 L3,169 C4.76636835,164.73861 12.686764,152.215487 12.8280735,147.297957 L12.8280735,147.297957 Z', fill='#EDAC80')
                                        path(d='M2,342 L2,426.683446 C4.84472495,527.57022 69.650673,594.386825 150.4352,592.978148 C231.219728,591.590707 298,513.518842 298,405.602839 L296.011523,347.139194 L2,342 L2,342 Z', fill='#FBC096')
                                        g(transform='translate(149.000000, 170.000000)')
                                            path(d='M79.9936902,271.574813 C80.3771417,292.959111 63.2354403,310.61211 41.7195517,310.993721 L41.7195517,310.993721 C20.210764,311.375331 2.46548157,294.315947 2.10333295,272.896315 L-1.99391713,38.4463902 C-2.37026766,17.0267579 14.7643328,-0.619174762 36.2802214,-0.993717986 L36.2802214,-0.993717986 C57.7819081,-1.37532806 75.5200896,15.6769889 75.8964401,37.0966212 L79.9936902,271.574813 L79.9936902,271.574813 Z', fill='#FBC096')
                                            path(d='M0.0107015458,159.134163 L15,6 C6.18906064,13.2769048 -2.20095125,24.036227 -1.97978597,36.3062516 L-3,173 C-1.19500595,168.709038 -0.117717004,164.056358 0.0107015458,159.134163 L0.0107015458,159.134163 Z', fill='#EDAC80')
                                        g(transform='translate(78.000000, 141.000000)')
                                            path(d='M76.521519,269.20085 C80.1106546,290.973872 63.0215554,308.612775 41.5716918,308.994386 L41.5716918,308.994386 C20.1289073,309.354796 2.43807923,292.316577 2.07704192,270.903965 L-1.99347675,36.4394057 C-2.38283071,15.0338613 14.7062685,-2.63330972 36.149053,-2.99372001 L36.149053,-2.99372001 C57.5918374,-3.3753309 75.2968239,13.6840894 72.436842,34.7221566', fill='#FBC096')
                                            path(d='M-0.0133779264,157.115996 L16,3 C6.50353029,8.88738586 -2.11742847,21.8197497 -1.89855072,34.1342577 L-3,171 C-1.22073579,166.717619 -0.140468227,162.04464 -0.0133779264,157.115996 L-0.0133779264,157.115996 Z', fill='#EDAC80')
                                        path(d='M79.9939511,392.583514 C80.368047,413.983676 63.3431557,431.626451 41.949107,431.993714 L41.949107,431.993714 C20.5762335,432.375103 2.9302019,415.318538 2.68315745,403.276532 L-1.98951172,50.7741835 C-2.4836006,20.0299894 14.5412907,2.36602682 35.9353394,2.00582607 L35.9353394,2.00582607 C57.3223297,1.63856255 74.9471861,18.6810023 75.3142235,40.0811649 L79.9939511,392.583514 L79.9939511,392.583514 Z', fill='#FBC096')
                                        path(d='M64,53.9962985 L63.6332685,34.5473023 C63.38159,20.7466457 51.1643973,9.75936586 36.3657025,10.0040073 C21.5454353,10.2342581 9.74530979,21.6172815 10.0041791,35.4323287 L10.356529,54.8669343 C10.356529,54.8669343 18.0291273,59.4215827 35.8479639,58.9682765 C57.9597164,58.3998449 58.5205999,56.4714945 64,53.9962985 L64,53.9962985 Z', fill='#FDD7B3')
                                        g(transform='translate(14.000000, 212.000000)', fill='#FDD7B3')
                                            path(d='M54.999514,4.72327056 C55.0281073,6.26327056 53.7914465,7.50227056 52.2188142,7.54427056 L2.88104964,8.37727056 C1.30841733,8.39827056 0.0145698445,7.18727056 0.000273187178,5.64727056 L0.000273187178,5.64727056 C-0.0211717988,4.11427056 1.22263739,2.85427056 2.78097304,2.83327056 L52.1330342,2.00027056 C53.6842215,1.97927056 54.978069,3.18327056 54.999514,4.72327056 L54.999514,4.72327056 L54.999514,4.72327056 Z')
                                            path(d='M42.9996816,18.4290339 C43.021563,19.7800339 41.9129064,20.8930339 40.4906168,20.9140339 L15.6041946,21.3270339 C14.1891987,21.3550339 13.0221918,20.2700339 13.0003104,18.9330339 L13.0003104,18.9330339 C12.978429,17.5610339 14.1162608,16.4620339 15.5093752,16.4200339 L40.4030913,16.0000339 C41.8253809,15.9930339 42.985094,17.0710339 42.9996816,18.4290339 L42.9996816,18.4290339 L42.9996816,18.4290339 Z')
                                    path(d='M52.1203998,249 L55,426 L42.571875,355.574844 C42.571875,355.574844 37.5146667,331.763757 41.5833555,314.76091 C44.7279935,301.612987 52.1203998,249 52.1203998,249 L52.1203998,249 Z', fill='#EDAC80')
                                    path(d='M17.9991852,335.422302 C18.0335959,336.773302 16.9737461,337.886302 15.6386105,337.907302 L3.46410153,338.327302 C2.12208386,338.348302 1.0278233,337.263302 1.00029473,335.926302 L1.00029473,335.926302 C0.979648306,334.561302 2.0463803,333.455302 3.36775154,333.413302 L15.5491427,333.000302 C16.8911604,332.979302 17.9923031,334.057302 17.9991852,335.422302 L17.9991852,335.422302 L17.9991852,335.422302 Z', fill='#FDD7B3')
                                    path(d='M12.9994421,344.436 C13.0285485,345.78 11.9152271,346.9 10.5035647,346.921 L3.60533813,347.334 C2.18639911,347.362 1.02941807,346.27 1.00031163,344.94 L1.00031163,344.94 C0.978481794,343.568 2.1063564,342.469 3.50346558,342.434 L10.4089688,342 C11.8279078,342 12.9921655,343.078 12.9994421,344.436 L12.9994421,344.436 L12.9994421,344.436 Z', fill='#FDD7B3')
                                    path(d='M112.844127,340.281829 C115.239434,348.799225 111.279285,357.420577 102.885414,360.490721 C97.799676,362.348054 99.9959463,370.602097 105.136591,368.723973 C117.799462,364.094501 124.724577,351.245638 120.990917,338.015605 C119.508435,332.72775 111.347918,334.973183 112.844127,340.281829 L112.844127,340.281829 L112.844127,340.281829 Z', fill='#F5B88E')
                                    path(d='M189.531488,328.360613 C194.689157,343.16023 188.352592,357.709611 174.268997,363.979787 C169.167466,366.253351 173.567273,373.839048 178.626701,371.586933 C196.015415,363.843945 204.204531,344.168319 197.867966,326.008403 C196.008398,320.70342 187.650869,322.998433 189.531488,328.360613 L189.531488,328.360613 L189.531488,328.360613 Z', fill='#F5B88E')
                                    path(d='M257.576713,338.413553 C260.474956,349.013903 255.336525,359.621339 244.961653,363.320124 C239.746214,365.169517 241.993403,373.601613 247.250845,371.730963 C262.022086,366.487475 270.100765,351.501017 265.886411,336.096498 C264.402286,330.668779 256.078587,332.971662 257.576713,338.413553 L257.576713,338.413553 L257.576713,338.413553 Z', fill='#F5B88E')
                                    path(d='M326.151366,341.25386 C328.782049,348.839085 325.814466,357.150705 317.922417,360.356615 C312.747068,362.458966 315.019347,370.784554 320.266377,368.654265 C332.409094,363.709201 338.996554,351.42337 334.667038,338.969911 C332.860683,333.745464 324.330675,335.987506 326.151366,341.25386 L326.151366,341.25386 L326.151366,341.25386 Z', fill='#F5B88E')
                    g#qualified_circle(sketch:type='MSLayerGroup', transform='translate(1587.000000, 878.000000)')
                        text(sketch:type='MSTextLayer', font-family='Bariol', font-size='70', font-weight='bold', fill='#9B9B9B')
                            tspan(id="qualify_score", x='72', y='55') &nbsp;0
                        g#Oval(transform='translate(0.000000, 2.000000)', sketch:type='MSShapeGroup')
                            circle#Oval-7(stroke='#979797', stroke-width='4', cx='32.5', cy='32.5', r='32.5')
                            circle#Oval-8(stroke='#979797', stroke-width='4', cx='32.5', cy='32.5', r='21.5')
                            circle#Oval-9(fill='#979797', cx='32.5', cy='32.5', r='12.5')





            .first-landing(style="height: {{viewportHeight}}px;")
                .container
                    .landing-text-col
                        h1 Never waste another idea again
                        p.lead

                        p.lead Everyday, hundreds of brilliant ideas are lost in your company because they have nowhere to live or are simply forgotten.
                        p.lead Idea Funnel gives your ideas a place to grow, thrive and be discovered.
                        div
                            button.btn.btn-primary.btn-x-large(ng-click="gotoSignUp()") Join for free









            .second-landing(style="height: {{viewportHeight}}px;")
                .container
                    .landing-text-col
                        h1 Generate Ideas Collaboratively
                        p.lead

                        p.lead Turn dull meetings into rapid idea generation sessions and harness the power of your attendees' thoughts.
                        p.lead Use our mobile apps (iPhone, Android &amp; Mobile Web) to quickly and easily flick ideas directly to your presentation screen.
                        div
                            button.btn.btn-primary.btn-x-large(ng-click="gotoSignUp()") Join for free



            .first-landing(style="height: {{viewportHeight}}px;")
                .container
                    .landing-text-col
                        h1 Evaluate your ideas
                        p.lead For most people, generating ideas isn't the problem, figuring out which ones are winners is.
                        p.lead Idea Funnel lets you evaluate your ideas against criteria of your choosing so you can easily see which are the best.
                        div
                            button.btn.btn-primary.btn-x-large(ng-click="gotoSignUp()") Join for free


            .second-landing(style="height: {{viewportHeight}}px;")
                .container
                    .landing-text-col
                        h1 Find the next killer idea
                        p.lead Once you've evaluated your ideas, use Idea Funnel's funky graphs and analysis tools to figure out which are the best.
                        p.lead Then send them to the next stage, whether that's Trello, Google Spreadsheets or one of the many third party tools we support.
                        div
                            button.btn.btn-primary.btn-x-large(ng-click="gotoSignUp()") Join for free
