doctype html
html(lang='en', xmlns='http://www.w3.org/1999/xhtml')
    include includes/head
    body(style="background-color: #ffffff;")

      div.container
          div.jumbotron
            img(src="/images/ideafunneltshirt.png", style="width: 50%")
            p.lead Coming Soon



    include includes/angular
    //TODO make this work
    //if controller
    //    script(src="/javascripts/app/controllers/#{controller}.min.js")