doctype html
html(lang='en', xmlns='http://www.w3.org/1999/xhtml')
    include includes/simple-head
    body.screen-layout(ng-app="ideafunnelApp", style="background-color: #5b5b5c; color: #ffffff;")
        block content
