doctype html
html(lang='en', xmlns='http://www.w3.org/1999/xhtml')
    include includes/simple-head
    body.simple-layout(ng-app="ideafunnelApp", style="background-color: #fafafa !important;")
        block content
