<div class="col-md-2 sidebar full-height">

        <div class="medium-margin-top">
            <h1>We <i class="fa fa-heart-o"></i> ideas</h1>
            <p>If you've got an idea or want to find a cool idea you've come to the right place. Follow us on twitter <a href="http://twitter.com/@theideafunnel">@theideafunnel</a> for all of the latest news</p>
        </div>

        <div class="medium-margin-top">
            <h1>Idea Boards</h1>
            <p>In Idea Funnel, eveything starts with an idea board. Head over to the <a href="/home#/boards">boards</a> page to create new boards or access your existing board.</p>
        </div>


</div>

<div class="col-md-9 main-body-area full-height">

    <div class="massive-heading">
        We're just getting things ready here
    </div>

    <p class="lead">
        It aint easy building the future home of ideas the world over. If you've got to this page, you're one of the super-awesome people who we're giving an early preview of Idea Funnel to. We want you to play, try out the functionality that's here and give us plenty of feedback (good and bad). Just please bear with us though, as beta software is buggy by its nature, and whilst we're pretty darn good (even if we do say so ourselves), we're not perfect - so there will be bugs and odd features!
    </p>




</div>


