html {
    position: relative;
    min-height: 100%;
}

body {
    font: 14px "bariol", Helvetica, Arial, sans-serif, Arial, sans-serif;
    color: #5b5b5c;
    background-color: #f7f7f7;
    overflow-x: hidden;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}

.main-body {
    overflow-x: hidden;
}

.no-select, .btn {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

::selection {
    background: #fda209; /* Safari */
    color: #ffffff;
}

::-moz-selection {
    background: #fda209; /* Firefox */
    color: #ffffff;
}

a {
    color: #5b5b5c;
    font-family: "bariol_bold", Arial, sans-serif;
    text-decoration: none;
}

a:hover, .navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
    color: #fda209;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    font-family: "bariol_light", Arial, sans-serif;
    margin-top: 0 !important;

}

.massive-heading {
    font-size: 80px;
    font-family: "bariol_light", Arial, sans-serif;
    line-height: 100px;
    margin-bottom: 30px;
    text-transform: uppercase;
    margin-top: 10px;
    border-radius: 10px;
}

.first-side-menu {
    padding-top: 20px;
    border-top: 4px solid #fda209;
    background-color: #4a4a4a;
    position: absolute;
    top: 0;
    width: 200px;
    height: 100%;
    color: #ffffff;
    cursor: pointer !important;
}

.first-side-menu-option {
    color: #696869;
    padding-left: 20px;
    border: 1px #626262;
    border-top-style: solid;
    border-bottom-style: solid;
    border-left: 5px solid #4a4a4a;
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: "bariol_thin", Arial, sans-serif;
    margin-top: -1px;
    border-radius: 0 !important;
    cursor: pointer;
}

.pointer {
    cursor: pointer;
}

.first-side-menu-option a {
    text-decoration: none;
    color: #696869;
}

.first-side-menu-option a:hover {
    color: #ffffff;
}

.first-side-menu-option:hover {
    color: #ffffff;
}

.first-side-menu-option-active {
    border-left-color: #fda209;
    background-color: #626262;
    color: #ffffff;
}

.first-side-menu-option-active a {
    text-decoration: none;
    color: #ffffff;
}

.full-height {
    height: 100%;
}

.side-panel {
    margin-top: 15px;
    background-color: rgba(0, 0, 0, 0.01);
    min-height: 100px;
    padding: 20px;
    width: 100%;
    border-radius: 2px;
    color: #999999;

}

.top-coloured-left {
    border-top: 5px solid #ffc460;
    height: 5px;
}

.top-coloured-main {
    border-top: 3px solid #fda226;
    height: 3px;
}

.large-padded-top {
    padding-top: 30px;
}

.dropdown-menu {
    z-index: 999999;
}

button:focus {
    outline-color: transparent;
    background-color: #ffffff;
}

button:hover {
    outline-color: transparent;
    background-color: #ffffff;
}

.fixed-search-bar {
    position: fixed;
    top: 90px;
    width: 95%;
    z-index: 900;
    margin-top: -43px;
    padding-top: 35px;
    margin-left: -1px;
    padding-bottom: 20px;
    background-color: #f7f7f7;
}

.orange-icon {
    color: #fda209;
}

.create-new-top-area {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 4px;
    padding: 20px;
    border: 2px solid #ffffff;
}

.sidebar {
    background-color: #f3f3f3;
    padding: 20px;
    color: #000000;
    height: 100% !important;
}

.top-bar-margin {
    margin-top: 50px;
}

.main-body-area {
    padding: 30px;
    color: #000000;
    height: auto !important;
}

.second-side-menu, .main-content-area {
    border-top: 4px solid;
    position: absolute;
    top: 0;
    padding: 20px;
    height: 100%;
    color: #000000;
}

.second-side-menu {
    border-top-color: #ffc460;
    background-color: #ffffff;
    width: 260px;
}

.main-content-area {
    width: 1000px;
    height: 800px;
    background-color: #f1f1f1;
    border-top-color: #ffa000;
}
.global-search, .error-alert {
    color: #ffffff;
    position: fixed;
    right: 30px;
    padding: 10px;
    border-radius: 2px;
    z-index: 999999;
}

.global-search {
    background-color: #fda209;
    top: 70px;
}

.error-alert {
    top: 40px;
    background-color: #eb5646;
    opacity: 0.96;
}

.scroller-holder {
    height: 100%;
    position: relative;
}

.scroller {
    overflow-y: scroll !important;
    height: 90%;
    padding-top: 5px;
}

.fade-scroller-top {
    /*position: absolute;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    background-color: RGBA(241, 241, 241, 0.5);*/
}

.container-full {
    margin: 0 auto;
    width: 100%;
}

.card-scribble {
    font-family: "bariol_light", Arial, sans-serif;
    font-size: 24px;
    height: 180px;
}

.card-scribble-large {
    font-size: 50px;
    padding: 20px;
}

.no-underline-link > a {
    text-transform: none !important;
}

.no-underline-link > a:hover {
    color: #000000;
}

.view-tab {
    font-family: "bariol_light", Arial, sans-serif;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    margin-right: 10px;
    cursor: pointer;
}

.view-tab-active {
    font-family: "bariol_bold", Arial, sans-serif;
}

.card-centered {
    margin-top: 50px;
    width: 90%;
    height: 500px;
    font-size: 50px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.bold-text {
    font-family: "bariol_bold", Arial, sans-serif;
}

.hot-topic {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
    padding: 2px 4px;
    display: inline-block;
    margin-right: 4px;
    border-radius: 2px;
    margin-top: 5px;
}

.hot-topic-selected {
    background-color: #fda209;
    color: #ffffff;
}

.hot-topic:hover {
}

.large-post-it {
    background-color: #fff684;
    width: 50%;
    max-width: 500px;
    min-height: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    font-family: 'Reenie Beanie', san-serif !important;
    outline: none !important;
}

.card-instructions {
    color: #999999;
    font-weight: 700;

}
.card-left-arrow, .card-right-arrow {
    position: absolute;
    top: 160px;
    color: #e0e0e0;
    cursor: pointer;
}
.card-left-arrow {
    left: 40px;
    font-size: 50px !important;
}

.card-left-arrow:hover {
    color: #9b9b9b;
}

.card-right-arrow {
    right: 40px;
    font-size: 100px !important;
}

.card-right-arrow:hover {
    color: #626262;
}

.input-postit-note {
    background-color: transparent;
    border-style: none;
    border-bottom-style: solid;
    border-bottom-color: #999999;
    border-bottom-width: 2px;
    height: 40px;
    font-size: 30px;
    box-shadow: none;
    border-radius: 0;
    padding: 20px;
}

.text-box-with-icon {
    position: relative;
}

.icon-in-text-box, .icon-in-text-box-end {
    position: absolute;
    top: 8px;
    z-index: 9999;
    color: #dcdcdc;
}

.icon-in-text-box {
    left: 10px;
}

.icon-in-text-box-end {
    right: 10px;
    top: 8px;
    font-size: 16px;
    cursor: pointer;
}

.icon-in-text-box-end:hover {
    color: #000000;
}

.with-icon {
    padding-left: 30px;
}

.small-rotate-right {
    /*transform:rotate(0.5deg);
    -ms-transform:rotate(0.5deg);
    -webkit-transform:rotate(0.5deg);*/
}

.small-rotate-left {
    /*transform:rotate(-0.5deg);
    -ms-transform:rotate(-0.5deg);
    -webkit-transform:rotate(-0.5deg);*/
}

.login-body {
    background-color: #fff2e1;
}

.login-box {
    width: 100%;
    max-width: 400px;
    background-color: #ffffff;
    padding: 30px;
    border: 1px none #dcdcdc;
    border-radius: 4px;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    box-shadow: 0 3px rgba(0, 0, 0, 0.1);
}

.centered {
    text-align: center;
}

.sticker {
    position: absolute;
    top: -5px;
    left: 10px;
    width: 8px;
    height: 22px;
    background-color: #60a0d2;
}

.big-card-controls {
    position: absolute;
    bottom: 20px;
    left: 25px;
    font-size: 30px;
    color: #acacac;
}
.big-card-controls-right, .big-card-controls-top-right {
    position: absolute;
    right: 25px;
    font-size: 30px;
    color: #acacac;
    text-align: right;
}

.big-card-controls-right {
    bottom: 20px;
}

.big-card-controls-top-right {
    top: 25px;
}

.small-card-controls, .small-card-controls-center, .small-card-controls-right {
    position: absolute;
    bottom: 8px;
    font-size: 14px;
    color: #acacac;
}
.small-card-controls {
    left: 8px;
    text-align: left;
}

.small-card-controls-center {
    width: 100%;
    text-align: center;
    left: 0;
}

.small-icon-selected {
    color: #2b2b2b;
}

.small-card-controls-right {
    right: 8px;
    text-align: right;
}

.small-card-controls-top-right {
    position: absolute;
    top: 2px;
    right: 2px;
    font-size: 14px;
    color: #acacac;
    text-align: right;
}

.card-text {
    font-family: 'bariol_light', Arial, sans-serif;
    font-size: 18px;
    margin-right: 20px;
}

.huge-icon {
    font-size: 100px;
}

.huge-icon-over:hover {
    color: #4a4a4a
}

a > .huge-icon {
    color: rgba(255, 255, 255, 0.95);
}

a > .huge-icon:hover {
    color: #ffffff;
}

[contenteditable]:focus {
    outline: 0 solid transparent;
}

.light-placeholder-colour {
    color: #dcdcdc;
}

.bold-heading {
    font-size: 50px;
}

/* Bootstrap overrides */
.form-control, .btn {
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    background-image: none;
    border-radius: 2px;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    color: #555;
    background-color: #fff;
    border: 1px solid #dcdcdc;
    /*-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;*/
}

.form-control:focus {
    border-color: #ccc;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px #DCDCDC;
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px #DCDCDC;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    font-weight: 700;
    outline: 0;
}

.btn-primary {
    font-weight: 900;
    color: #fff;
    background-color: rgba(253, 162, 38, 1);
    border-color: rgba(253, 162, 38, 1);
}

.btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    background-image: none;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: rgba(253, 172, 38, 1);
    border-color: rgba(253, 172, 38, 1);
    outline-offset: -2px;
    outline: rgb(235, 177, 38) auto 5px;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
    color: #333;
    background-color: #fffbf6;
    border-color: #adadad;
}

.btn.btn-default a, .btn.btn-default a:hover {
    color: #333;
    font-family: bariol, Helvetica, Arial, sans-serif;
}

.alert {
    padding: 5px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 2px;
}

.alert-danger {
    color: #ffffff;
    background-color: #ed6a5a;
    border-style: none;
}

/*----------------------------------*/

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #fffbf6 inset;
}

.medium-font-size {
    font-size: 22px;
}

.small-margin-top {
    margin-top: 10px;
}

.medium-margin-top {
    margin-top: 20px;
}

.large-margin-top {
    margin-top: 30px;
}

.placeholder-colour {
    color: #cccccc;
}

.dropdown-row {
    padding: 5px 10px;
    cursor: pointer;
}

.dropdown-row:hover {
    cursor: pointer;
    background-color: #f1f1f1;
}

.placeholder-small {
    font-size: 11px;
    color: #cccccc;
}

.small-margin-right {
    margin-right: 10px;
}

.medium-margin-right {
    margin-right: 10px;
}

.small-margin-bottom {
    margin-bottom: 10px;
}

.medium-margin-bottom {
    margin-bottom: 20px;
}

.large-margin-bottom {
    margin-bottom: 20px;
}

.squished-form-control-no-top {
    border-top-style: none;
    border-top: 0;
}

.squished-form-control-no-right {
    border-right-style: none;
}

.squished-form-control:focus {
    background-color: #fffbf6 !important;
}

.squished-form-control-half {
    width: 50%;
    display: inline;
}

.navbar-grey {
    background-color: rgba(255, 255, 255, 0.95) !important;
    border-bottom-style: none;
}

.navbar-transparent {
    background-color: rgba(255, 255, 255, 0.9) !important;
    color: #000000;
    border-bottom-style: none;
}

.nav-tabs > li > a {
    text-decoration: none !important;
}

.top-links-dark {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 16px;
}

.top-links-dark a {
    text-decoration: none;
    color: #999999 !important;
}

.top-links-dark a:hover {
    text-decoration: none;
    color: #5b5b5c !important;
}

.top-links {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 16px;
}

.top-links a {
    text-decoration: none;
}

.fixed-sidebar {
    position: fixed;
    left: 20px;
    top: 80px;
    width: 16%;
}

.fixed-sidebar-right {
    right: 20px;
    left: auto;
}

#footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #5b5b5c;
    padding: 20px;
}

/* LANDING PAGES */
.landing-cover {
    margin-top: 30px;
    margin-right: 0;
    margin-left: 0;
    overflow: hidden;
}

.first-landing {
    padding: 50px;
    background-color: #fff2e1;
}

.landing-text-col {
    margin-top: 2%;
    width: 40%;
}

.second-landing {
    padding: 50px;
    background-color: #fffbf6;
}

.svg-graphic-fixed {
    position: fixed;
    right: 50px;
    top: 75px;
    width: 50%;
}

.btn-x-large {
    font-size: 24px;

}

.main-section {
    background-color: #ffffff;
    margin-top: 30px;
    border-radius: 4px;
}

.col-bordered {
    border-right: 1px solid #fff2e1;
}

.left-section {
    background-color: #ffffff;
    min-height: 300px;
    padding: 30px;
    margin-top: 20px;
    border-radius: 10px;
}

.left-section-header {
    color: #ffffff;
    font-size: 18px;
    padding: 5px 20px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.left-section-header-grey {
    background-color: #d4d4d4;
}

.left-section-header-orange {
    background-color: #fda226;
}

.left-section-content {
    padding: 20px;
}

.session-menu-box-inactive {
    background-color: transparent !important;
}

.top-background {
    width: 100%;
    min-height: 300px;
    max-height: 800px;
    display: block;
    position: relative;
    margin-top: -92px;
    padding-top: 80px;
    text-align: center;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.5);
    padding-bottom: 30px;
}

.top-background-darker {
    background-color: rgba(0, 0, 0, 0.6);
}

.off-screen-holder, .top-background::after {
    left: 0;
    bottom: 0;
    top: 0;
    position: absolute;
}
.off-screen-holder {
    width: 400%;
    height: 100%;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    overflow: hidden !important;
}

.top-background::after {
    content: "";
    background-size: cover;
    background: no-repeat fixed center;
    opacity: 0.9;
    right: 0;
    z-index: -1;
}

.top-background-non-full {
    min-height: 300px;
    margin-top: 0;
}

.card, .card-multiple {
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 1px;
    margin-bottom: 20px;
    padding: 20px;
    -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.08);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.08);
}

.card {
    position: relative;
    z-index: 400;
}

.card-multiple {
    position: absolute;
    left: 14px;
    top: 3px;
    right: 13px;
    bottom: 1px;
    z-index: 1;
    transform: rotate(0.5deg);
    -ms-transform: rotate(0.5deg);
    -webkit-transform: rotate(-3deg);
}

.board-bg-green, .board-bg-grey {
    color: #ffffff;
    margin: 2px;
    height: 100%;
    padding: 15px;
}

.board-bg-green {
    background-color: #5acd8c;
}

.board-bg-grey {
    background-color: #404751;
}

.card-no-padding-bottom {
    padding-bottom: 0;
}

.card-full-height {
    min-height: 100%;
    margin-bottom: 30px;
    position: relative;
}

.board-card {
    height: 210px;
    position: relative;
    z-index: 800;
}

.board-card-behind {
    top: -5px;
    left: -5px;
    height: 210px;
    position: relative;
    width: 200px;
    background-color: #ffffff;
    z-index: -1;
}

.idea-card {
    height: 210px;
    position: relative;
}

.card-padded {
    padding: 20px;
}

.card-heading {
    background-color: #efeae8;
}

.bordered-sidebar {

}

.white-col {
    background-color: #ffffff;
    min-height: 800px;
    padding-top: 100px;
}

.criteria-select-label {
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: 700;
}

.criteria-select {
    font-size: 14px;
    text-align: center;
    min-width: 30%;
    border: 2px solid #e2e2e2;
    -webkit-appearance: none;
    margin-top: 2px;
    padding: 5px 30px 5px 5px;
    background: rgba(255, 255, 255, 0.5) url("../images/downarrow.png") no-repeat right center;
    width: 180px;
    height: 180px;
    background-size: 20px 20px;
    cursor: pointer;
}

.error-border {
    border: 1px solid #eb5646;
}

.input-sub-description {
    color: #b0b0b0;
    margin-top: 4px;
    font-size: 12px;
}

.input-sub-description.error {
    color: #eb5646;
}

.input-sub-description.valid {
    color: #5acd8c;
}

.criteria-select:focus {
    outline: 0;
}

.icon-spaced {
    margin-right: 2px;
}

select::-ms-expand {
    display: none;
}

.session-menu-box, .session-colour-box {
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-right: 5px;
}

.session-menu-box {
    background-color: #5b5b5c;
    margin-left: -10px;
    border: 1px solid #5b5b5c;
}

.session-colour-box {
    background-color: transparent;
    border: 2px solid #60a0d2;
}

.session-colour-box-active {
    background-color: #60a0d2;
}

.session-name {
    display: inline-block;
    cursor: pointer;
}

.session-name-active {
    color: #000000;
}
.qualification-score, .close-card {
    text-align: center;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

.qualification-score {
    background-color: #4a4a4a;
    color: #ffffff;
    padding-top: 5px;
}

.close-card {
    position: absolute;
    right: -15px;
    top: -15px;
    background-color: #e0e0e0;
    z-index: 9999;
    color: #acacac;
    font-size: 20px;
    cursor: pointer;
    font-family: "bariol_bold", Arial, sans-serif;
    border: 1px solid #d9d9d9;
}

.close-card:hover {
    color: #000000;
}

.profile-circle {
    position: relative;
    top: 10px;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 50%;
    border: 1px solid #d8d8d8;
}

.profile-circle-large {
    position: relative;
    top: 20px;
    right: 10px;
    width: 40px;
    height: 40px;
    margin-right: 20px;
    border-radius: 50%;
    border: 1px solid #d8d8d8;
}

.profile-circle-huge, .guest-profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid #363636;
}

.profile-circle-huge {
    position: relative;
    top: 10px;
    float: left;
    margin-right: 10px;
}

.guest-profile-pic {
    margin-top: 10px;
    cursor: pointer;
}

.huge-heading {
    padding: 20px;
    font-family: "bariol_light", Arial, sans-serif;
    font-size: 80px;
    line-height: 80px;
}

.emphasise {
    font-family: "bariol_bold", Arial, sans-serif;
}

.profile-page-banner {
    background-color: #5b5b5c;
    padding: 10px 10px 20px;
    color: #ffffff;
}

.profile-page-circle {
    position: relative;
    top: 10px;
    width: 100px;
    height: 100px;
    margin: 30px auto;
    border-radius: 50%;
}

.error-post-it {
    background-color: #fff684;
    font-family: "Reenie Beanie", Arial, sans-serif;
    color: #000000;
    width: 90%;
    max-width: 400px;
    margin: 90px auto 20px;
    text-align: center;
    padding: 20px 20px 50px;
}

.error-body {
    background-color: #fff2e1;
}

.huge-font-size {
    font-size: 120px;
}

.large-font-size {
    font-size: 50px;
}

.member-row {

}

.member-name {
    position: relative;
}

.member-status {
    position: absolute;
    right: 30px;
    top: 20px;
}

.small-heading {
    font-size: 18px;
    font-weight: 700;
}

.session-card {
    padding: 30px;
    font-size: 36px;
}

.session-logo {
    width: 200px;
    margin-bottom: 20px;
}

.session-select {
    font-size: 15px;
}

@media screen and (max-width: 750px) {
    body {

    }

    .session-card {
        padding: 15px;
        font-size: 15px;
        max-height: 200px !important;
    }

    .sidebar {
        display: none;
    }

    .fixed-search-bar {
        width: auto;
        left: 0;
        right: 0;
        padding-left: 30px;
        padding-right: 30px;
    }

    .card-scribble-large {
        font-size: 30px;
        padding: 10px;
    }

    .card-centered {
        margin-top: 20px;
        width: 95%;
        height: 320px;
        margin-left: auto;
        margin-right: auto;
    }

    .svg-graphic-fixed {
        display: none !important;
    }

    .landing-text-col {
        width: 100%;
    }


    .huge-heading {
        padding: 10px;
        font-family: "bariol_light", Arial, sans-serif;
        font-size: 35px;
        line-height: 40px;
    }
    .top-background-non-full {
        min-height: 100px;
        margin-top: 0;
        /*padding-bottom: 0;*/
    }
    .profile-page-circle {
        height: 60px;
    }
}

.right-padding {
    padding-right: 10px;
}

.squished-form-control {
    padding-left: 42px;
    padding-right: 30px;
    border-radius: 0;
    height: 40px;
    font-size: 16px;
    font-weight: 700;
}
.input-group-addon, .squished-input-group-addon {
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    color: #555;
    text-align: center;
}
.input-group-addon {
    padding: 6px 12px;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 0;
}

.squished-input-group-addon {
    padding: 6px 10px;
    background-color: #fffbf6;
    border-radius: 0;
    border-left-style: none;
}

.input-with-icon {
    position: relative;
}

.input-with-icon-inline {
    display: inline;
    width: 50%;
}

.form-icon {
    position: absolute;
    z-index: 999;
    left: 20px;
    top: 10px;
}

.no-padding {
    padding:0;
}

#largeQrCode img {
    width: 100%;
}