
script(src="/bower/angular/angular.min.js")
script(src="/bower/angular-route/angular-route.min.js")
script(src="/bower/angular-touch/angular-touch.min.js")
script(src="/bower/moment/min/moment.min.js")
script(src="/bower/angucomplete/angucomplete.js")

script(src="/javascripts/hammer.min.js")
script(src="/javascripts/d3.v3.min.js")
script(src="/javascripts/qrcode.min.js")
script(src="/javascripts/graphs/radar-chart.js")
script(src="/javascripts/app/directives/inline-confirm.js")
script(src="/javascripts/app/directives/timeago.js")

script(src="/javascripts/app/directives/angular-local-storage.min.js")
script(src="/javascripts/app/directives/anguprofile.js")
script(src="/javascripts/app/services/idea-service.js")
script
    | var userId = "#{username}";
script(src="/javascripts/app/ideafunnel-main-app.js")
script(src="/javascripts/app/controllers/nav-controller.min.js")
script(src="/javascripts/app/controllers/home-controller.min.js")
script(src="/javascripts/app/controllers/idea-boards-controller.min.js")
script(src="/javascripts/app/controllers/create-idea-board-controller.min.js")
script(src="/javascripts/app/controllers/view-idea-board-controller.js")
script(src="/javascripts/app/controllers/me-controller.js")
script(src="/javascripts/app/controllers/view-idea-controller.min.js")
script(src="/javascripts/app/controllers/board-members-controller.min.js")
script(src="/javascripts/app/controllers/qualification-criteria-controller.min.js")
script(src="/javascripts/app/controllers/session-management-controller.min.js")
