head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
  meta(name='viewport', content='width=device-width,initial-scale=1,user-scalable=no')

  title= 'Ideafunnel - ' + title
  meta(http-equiv='Content-type', content='text/html;charset=UTF-8')
  meta(name="keywords", content="ideas, ideafunnel")
  meta(name="description", content="Ideafunnel - idea generation and follow through")

  link(href='/images/favicon.png', rel='shortcut icon')

  link(rel='stylesheet', href='/bower/bootstrap/dist/css/bootstrap.min.css')

  link(rel='stylesheet', href='/stylesheets/style.min.css')
  link(href='http://fonts.googleapis.com/css?family=Reenie+Beanie' rel='stylesheet' type='text/css')
  link(rel='stylesheet', href='/fonts/bariol/bariol.css')
  link(rel='stylesheet', href='/stylesheets/angucomplete.css')
  link(rel='stylesheet', href='/bower/fontawesome/css/font-awesome.min.css')
  link(rel='stylesheet', href='/stylesheets/animate.min.css')

  script(src="/bower/jquery/jquery.min.js")

  //if lt IE 9
    script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
